<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="demoApp"
        android:theme="@style/Theme.DemoApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccueilActivity"
            android:exported="true" />

        <activity
            android:name=".ProfilActivity"
            android:exported="true" />

        <activity
            android:name=".ParametresActivity"
            android:exported="true" />

    </application>

</manifest>
